[package]
name = "syscall-test"
version = "0.1.0"
edition = "2021"

[dependencies]
trustos-rt = { path = "../../trustos-rt" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
